/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* css carousel */

body {
  background-color: #f7f3f3;
}
li {
  list-style: none;
}

.main_container {
  width: 100%;
}

.carousel .main_container .carousel_content .carousel_left {
  position: relative;
  left: 120px;
  z-index: 1;
}
.carousel .main_container .carousel_content .carousel_left h2 {
  font-size: 100px;
  color: #000000;
  font-weight: bold;
  margin-left: 0.5em;
  position: absolute;
  z-index: 0;
  opacity: 0.1;
  top: -50px;
  left: -97px;
}

.carousel .main_container .carousel_content .carousel_left h3 {
  font-size: 40px;
  line-height: 80px;
}

/* .carousel .main_container .carousel_content .carousel_left .left_farm {
} */

.carousel .main_container .carousel_content .carousel_left p {
  font-size: 20px;
  color: #707070;
}

.carousel .main_container .carousel_content .carousel_left .btn {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: orange;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 1s;
}

.carousel .main_container .carousel_content .carousel_left .btn-style:hover {
  background-color: green;
  color: #fff;
}

.carousel .main_container .carousel_content .carousel_right {
  width: 100%;
}

.carousel .main_container .carousel_content .carousel_right .carousel-inner {
  height: 100vh;
  border-radius: 20px 0 0 20px;
}

.carousel-item {
  position: relative;
}
.carousel
  .main_container
  .carousel_content
  .carousel_right
  .carousel-inner
  img {
  object-fit: cover;
  height: 100%;
}

.carousel
  .main_container
  .carousel_content
  .carousel_right
  .carousel-inner
  .carousel-caption {
  width: 100px;
  height: 100px;
  left: 85%;
  position: absolute;
  right: 30px;
  bottom: 100px;
}

.carousel
  .main_container
  .carousel_content
  .carousel_right
  .carousel-inner
  .carousel-caption
  h5 {
  font-size: 24px;
  color: #ffffff;
}

.carousel
  .main_container
  .carousel_content
  .carousel_right
  .carousel-inner
  .carousel-caption
  p {
  font-size: 17px;
  color: #ffffff;
}

.carousel_right .carousel-indicators .active {
  background: orange;
}

.carousel_right .carousel-indicators button {
  font-size: 5px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: white;
  border: none;
}

/* css features */
/* .features {
} */

.features .main_container {
  max-width: 1200px;
  margin-top: 80px;
}

.features .main_container .content .features_left {
  max-width: 50%;
}

.features .main_container .content .features_left h5 {
  font-size: 22px;
  color: orange;
}

.features .main_container .content .features_left h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: black;
}

.features .main_container .content .features_left p {
  color: #707070;
  font-size: 17px;
}

.features .main_container .content .features_left .btn {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: orange;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 1s;
}

.features .main_container .content .features_left .btn:hover {
  background-color: green;
  color: #fff;
}

.features_right {
  max-width: 50%;
}

.features_right .container .row .col-6 {
  padding: 18px 130px;
  background-color: white;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 15px;
  transition: all 1s;
}

.features_right .container .row .col-6 .icon img {
  max-width: 60px;
  margin-bottom: 10px;
}

.features_right .container .row .col-6 h4 a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  transition: all 1s;
}

.features_right .container .row .col-6:hover {
  box-shadow: 0 25px 98px 0 rgba(15, 14, 14, 0.1);
}

.features_right .container .row .col-6:hover h4 a {
  color: green;
}

/* css what_we_do  */
.whatWeDo {
  background-color: #009f4d;
}

.whatWeDo_title .title_left {
  margin-top: 40px;
}
.title_left h5 {
  color: #ffffff;
  font-size: 22px;
}

.title_left h3 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  line-height: 30px;
}

.title_right p {
  color: #ffffff;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 70px;
}

.title_two {
  font-size: 162px;
  color: #ffffff;
  z-index: 0;
  opacity: 0.1;
  position: absolute;
  transform: translate(228px, 0px);
  /* bottom:50%; */
}

ul {
  padding: 0;
  margin: 0;
}

.row .col-4 {
  margin-top: 50px;
}
.row .col-4 .card .card-body ul li {
  margin-bottom: 20px;
}
.row .col-4 .card .card-body ul li.title {
  color: #009f4d;
  font-size: 16px;
  background: #d6f0e2;
  border-radius: 30px;
  padding: 5px 10px;
  font-weight: 500;
  width: 120px;
  text-align: center;
}

.row .col-4 .card .card-body ul li a {
  font-size: 24px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  line-height: 30px;
  transition: all 0.5s;
}

.row .col-4 .card .card-body ul li p {
  font-size: 17px;
}

.row .col-4 .card .card-body ul li a:hover {
  color: #009f4d;
}

/* css gallery */
.gallery .row {
  gap: 0;
  margin: 0;
}
/* .gallery .row .col-3 item_1 {
  position: relative;
} */
.gallery .row .col-3 h5 {
  color: #fb811e;
  font-size: 22px;
}

.gallery .row .col-3 h3 {
  color: black;
  font-size: 40px;
}
.gallery .row .col-3 .btn-style {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: orange;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 1s;
}
.gallery .row .col-3 .btn-style:hover {
  background-color: #009f4d;
}

.gallery .row .col-3 h4 {
  position: absolute;
  z-index: 0;
  color: #fff;
  bottom: 0;
  font-weight: bold;
  background: rgb(255 255 255 / 27%);
  padding: 6px;
  text-align: center;
  left: 0;
  right: 0;
  margin: 20px;
}

/* vệt sáng  */
.item_1 {
  position: relative;
  overflow: hidden;
}
.item_1::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.item_1:hover::before {
  left: 125%;
}

/* css choose_us */
.choose_us .row .left {
  margin-top: 45px;
  padding: 0 50px;
}

.choose_us .row .left h3 {
  font-size: 22px;
  color: #fb811e;
}

.choose_us .row .left h2 {
  font-size: 40px;
  color: black;
  font-weight: 700;
  line-height: 50px;
}

.choose_us .row .left p {
  font-size: 17px;
  color: #707070;
  font-weight: 400;
  line-height: 20px;
}

.choose_us .row .left .small i {
  font-size: 30px;
  color: #fb811e;
}

.choose_us .row .left .small h4 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 7px;
  font-weight: 600;
}

/* .choose_us .row .right {
  
  
} */
.choose_us .row .right img {
  border-radius: 30px;
  width: 80%;
  height: 80%;
  margin-left: 80px;
}

.choose_us .row .right .image_box {
  background-color: #fb811e;
  color: #fff;
  position: absolute;
  transform: translate(0%, -120%);
  padding: 8px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  min-width: 300px;
  border-radius: 0 0 100px 0;
  text-align: center;
}

.choose_us .row .right .image_box span {
  font-size: 70px;
  color: white;
  font-weight: 600;
}

.choose_us .row .right .image_box p {
  font-size: 18px;
  color: white;
}

/* css customer */

/* .customer .carousel-inner img{

} */

.customer .carousel-inner .carousel-caption .row .left img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.customer .carousel-inner .carousel-caption .row .left h5 {
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-top: 10px;
}

.customer .carousel-inner .carousel-caption .row .left p {
  font-size: 17px;
  color: white;
  margin-top: 10px;
}

.customer .carousel-inner .carousel-caption .row .right i {
  font-size: 20px;
  color: #fb811e;
  font-weight: 600;
}

.customer .carousel-inner .carousel-caption .row .right p {
  font-size: 22px;
  color: white;
  font-weight: 600;
}

.customer .carousel-inner .carousel-caption {
  transform: translate(0%, -50%);
  z-index: 1;
}
.customer .carousel-inner .overplay {
  background-color: rgba(39, 43, 54, 0.5);
  width: 100%;
  z-index: 2;
}

.customer .carousel .carousel-indicators button {
  font-size: 5px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ffff;
  border: none;
}
.customer .carousel .carousel-indicators .active {
  background-color: orange;
}

/* CSS Trang About  */

/* banner */
.banner {
  background-image: url(../img/inner-banner.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  /* display: none; */
  /* color: black; */
}
nav ul.breadcrumbs {
  line-height: 1.5;
  color: #707070;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  text-transform: capitalize;
}
.banner__content a {
  color: #707070;
}

/* css welcome  */
.welcome .row .left {
  margin-top: 45px;
  padding: 0 50px;
}

.welcome .row .left h3 {
  font-size: 22px;
  color: #fb811e;
}

.welcome .row .left h2 {
  font-size: 40px;
  color: black;
  font-weight: 700;
  line-height: 50px;
}

.welcome .row .left p {
  margin-top: 20px;
  font-size: 17px;
  color: #707070;
  font-weight: 400;
  line-height: 20px;
}

.welcome .row .left .btn_left {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: orange;
  border: none;
  color: white;
  border-radius: 30px;
  transition: all 1s;
}

.welcome .row .left .btn_left:hover {
  background-color: green;
  color: white;
}

.welcome .row .right img {
  border-radius: 10px;
  margin-left: 0px;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

/* css OurTeam */
/* css what_we_do  */
.OurTeam {
  background-color: #009f4d;
}

.OurTeam_title .title_left {
  margin-top: 40px;
}
.title_left h5 {
  color: #ffffff;
  font-size: 22px;
}

.title_left h3 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  line-height: 30px;
}

.title_right p {
  color: #ffffff;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 70px;
}

.title_two {
  font-size: 162px;
  color: #ffffff;
  z-index: 0;
  opacity: 0.1;
  position: absolute;
  transform: translate(228px, 0px);
  /* bottom:50%; */
}

.card-body-hover .text_hover h4 {
  font-size: #1e272e;
  text-align: center;
}

.provide .provide_title h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color:black;
}

.provide .provide_title p{
  color:#707070;
  font-size: 17px;
}

/* .provide_content i {
  background: #fff;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    text-align: center;
    transform:translate(-50%,700%);
} */

#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
}
.mfp-close,
.mfp-close:active {
  top: -40px;
}

/**
   * Fade-zoom animation for first dialog
   */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

